.home {
	.feed {
		
		background: url(../img/feed.jpg) no-repeat center center;
		background-size: cover;	
		
		.title-row { 
			
			margin-bottom: 25px;
			
		}
		
		.callout {
			
			border: 1px solid $primary-color;
			
		}
		
		.date-row {
			
			margin-bottom: 20px !important;
			
			small { 
				
				font-size: 100%;
				
			}
		}
		
		h3 { 
			color: $primary-color;
			text-transform: uppercase; 
			font-size: 36px;
			margin-bottom: 25px;
			
			&:before {
							
				content: "p";
				text-indent: -9999px;
				border-top: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 4px;
				
			}
			&:after {
				
				content: "p";
				text-indent: -9999px;
				border-bottom: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 7px;
				
			}
			
		}
		
	}
}
