.home {
	.hero {
		.hero-slide {
		padding: 125px 0;
		background-size: auto;
		@include breakpoint(medium down){
			padding: 30px 0;
		}
		&.jumbotron {
		    background-attachment: scroll;
		    overflow: hidden;
			position: relative;							
		}
			.hero-content {
				max-width: rem-calc(1050);
				h1{
					font-family: $font-script;
					font-size:rem-calc(55);
				}
				h2 { 
					margin: 0;
					&:before {
						
						content: "p";
						text-indent: -9999px;
						border-top: 1px solid $theme-white;
						width: 180px;
						margin: 0 auto 12px;
						display: block;
						height: 0px;
						box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
						
					}
					&:after {
						
						content: "p";
						text-indent: -9999px;
						border-bottom: 1px solid $theme-white;
						width: 180px;
						margin: 15px auto;
						display: block;
						height: 0px;
						box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
					}
					
				}
				h3{
					font-family:$font-family-b;
				}
				h2, h3{
					text-shadow: 1px 1px 3px rgba(0,0,0,1);
				}			
				.button {
					display: none;
				}
			}
		}
	}
}
