.home .service-icons {
	padding-bottom:0;
	> .row{
		max-width:rem-calc(1045);
		text-align:center;
		> .column{
			display:inline-block;
			float:none;
			vertical-align:top;
			margin: 0 -2px 40px;
		}
	}
}
