.gsection {
  display: none;
}

.gform_fields_1 {
  display: none;
}

.ginput_complex span label {
  display: none;
}

.gform_body {
  @extend .row;
}

.gform_fields {
  @extend .columns;
  footer & {
    @extend .medium-6;
  }
  .widget & {
    @extend .medium-12;
  }
}

.widget {
  .gform_footer {
    input[type="submit"] {
      padding: rem-calc(17 20);
      font: map-deep-get($forms, footer, fonts, button-text);
      color: map-deep-get($forms, footer, colors, button-text);
      background-color: map-deep-get($forms, footer, colors, button-bg);
      @include uppercase(map-deep-get($forms, footer, uppercase, button-text));
      &:hover {
        color: map-deep-get($forms, footer, colors, button-text-hover);
        background-color: map-deep-get($forms, footer, colors, button-bg-hover);
      }
    }
  }
}


.name_first {
  width: 100%;
  input {
    margin-bottom: 0;
  }
}

.gfield_label {
  display: none;
}

.ginput_container {
  height: $form-text-height;
  [type='text'], [type='password'], [type='date'], [type='datetime'],
  [type='datetime-local'], [type='month'], [type='week'], [type='email'],
  [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'],
  [type='color'], textarea {
    margin: 0;
    padding: 0.5em;
  }
}

.ginput_container_textarea {
  &, textarea, textarea[rows] {
    height: $form-text-height + $form-spacing + $form-text-height;
  }
}

.gfield {
  margin-bottom: $form-spacing;
}

.contact-form {
  text-align: center;
  background-size: cover;
  h3 {
    font: map-deep-get($forms, footer, fonts, heading);
    color: map-deep-get($forms, footer, colors, heading);
    @include uppercase(map-deep-get($forms, footer, uppercase, heading));
    margin: 0;
  }
  h4 {
    font: map-deep-get($forms, footer, fonts, subhead);
    color: map-deep-get($forms, footer, colors, subhead);
    @include uppercase(map-deep-get($forms, footer, uppercase, subhead));
    margin-bottom: 40px;
    @include breakpoint(medium down) {
      margin-top: rem-calc(20);
    }
  }
  h6 {
    font: map-deep-get($forms, footer, fonts, contact-head);
    color: map-deep-get($forms, footer, colors, contact-head);
    @include uppercase(map-deep-get($forms, footer, uppercase, contact-head));
    margin-bottom: 0;    
  }
  p {
	font: map-deep-get($forms, footer, fonts, contact-text);
    color: map-deep-get($forms, footer, colors, contact-text);
    @include uppercase(map-deep-get($forms, footer, uppercase, contact-text));
    margin: 0;   
  }
  a {
	font: map-deep-get($forms, footer, fonts, link-text);
    color: map-deep-get($forms, footer, colors, link-text);
    text-decoration: underline;
    &:hover {
	  font: map-deep-get($forms, footer, fonts, link-text-hover);
	  color: map-deep-get($forms, footer, colors, link-text-hover);  
    }    
  }
  .info-row {
    margin: rem-calc(25) auto;
    font: map-deep-get($forms, footer, fonts, contact-text);
    color: map-deep-get($forms, footer, colors, contact-text);
    @include uppercase(map-deep-get($forms, footer, uppercase, contact-text));
    span {
      font: map-deep-get($forms, footer, fonts, contact-head);
      color: map-deep-get($forms, footer, colors, contact-head);
      @include uppercase(map-deep-get($forms, footer, uppercase, contact-head));
    }
    a {
      color: map-deep-get($forms, footer, colors, link-text);
      &:hover {
        color: map-deep-get($forms, footer, colors, link-text-hover);
      }
    }
    .columns {
      @include breakpoint(medium down) {
        margin-top: rem-calc(10);
      }
    }
  }
  .gform_body {
    input, textarea {
      font: map-deep-get($forms, footer, fonts, textboxes);
      color: map-deep-get($forms, footer, colors, textboxes);
      @include uppercase(map-deep-get($forms, footer, uppercase, textboxes));
      border: 1px solid map-deep-get($forms, footer, colors, textboxes);
      background: none;
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: map-deep-get($forms, footer, colors, textboxes);
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: map-deep-get($forms, footer, colors, textboxes);
        opacity: 1;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: map-deep-get($forms, footer, colors, textboxes);
        opacity: 1;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: map-deep-get($forms, footer, colors, textboxes);
      }
    }
  }
  .gform_footer {
    input[type="submit"] {      
      font: map-deep-get($forms, footer, fonts, button-text);
      color: map-deep-get($forms, footer, colors, button-text);
      background-color: map-deep-get($forms, footer, colors, button-bg);
      @include uppercase(map-deep-get($forms, footer, uppercase, button-text));
      margin-bottom: 0;
      &:hover {
        color: map-deep-get($forms, footer, colors, button-text-hover);
        background-color: map-deep-get($forms, footer, colors, button-bg-hover);
      }
    }
  }
}
