
.page-title {
  font: map-deep-get($interior, fonts, page-title);
  color: map-deep-get($interior, colors, page-title);
  @include uppercase(map-deep-get($interior, uppercase, page-title));
  @include breakpoint(medium down) {
    font-size: map-deep-get($interior, fonts, page-title-small-size);
  }
}

.content-container, .banner {
  .breadcrumbs, .breadcrumbs a {
    color: map-deep-get($interior, colors, breadcrumbs);
    font: map-deep-get($interior, fonts, breadcrumbs);
    @include uppercase(map-deep-get($interior, uppercase, breadcrumbs));
    .breadcrumb_last {
      color: map-deep-get($interior, colors, breadcrumbs-last);
    }
  }
}

.accordion {


  :last-child:not(.is-active)>.accordion-title {
    background-color: map-deep-get($interior, colors, toggle-bg);
    border-bottom: rem-calc(1) solid map-deep-get($interior, colors, toggle-border);
  }

  // Need a long selector to override the default link style unfortunately
  .content-container .medium-8 & li a.accordion-title {
    padding: rem-calc(15 40);
    font: map-deep-get($interior, fonts, toggle-header);
    color: map-deep-get($interior, colors, toggle-header);
    border-left: none;
    border-right: none;
    border-top: rem-calc(1) solid map-deep-get($interior, colors, toggle-border);

    &[aria-expanded="true"] {
      color: map-deep-get($interior, colors, toggle-header-open);
    }

    &::before {
      right: initial;
      left: rem-calc(15);
      margin-top: -0.75em;
    }

    &:hover, &:focus {
      background-color: map-deep-get($interior, colors, toggle-bg-open);
    }
  }

  .accordion-content {
    padding-top: 0;
    color: map-deep-get($interior, colors, toggle-content);
    border: none;
    &:last-child {
      border-bottom: rem-calc(1) solid map-deep-get($interior, colors, toggle-border);
    }
  }

  :last-child > .accordion-content:last-child {
    border-bottom: rem-calc(1) solid map-deep-get($interior, colors, toggle-border);
  }

}
.content-container {
  padding: rem-calc(45 0);
  > .row {
    padding: rem-calc(30 0);
    background-color: $base-color;
  }

  .medium-8 p a,
  .medium-8 li a {
    font-weight: normal;
    color: map-deep-get($interior, colors, link);
    &:hover {
      color: map-deep-get($interior, colors, link-hover);
    }
  }

  blockquote {
    border-left: rem-calc(5) solid map-deep-get($interior, colors, blockquote-border);
    margin-top: rem-calc(30px);
  }

  .medium-4 {
    @include breakpoint(small down) {
      margin-top: rem-calc(25);
    }
  }

  h1 {
    font: map-deep-get($interior, fonts, h1);
    color: map-deep-get($interior, colors, h1);
    @include uppercase(map-deep-get($interior, uppercase, h1));
    margin: 0;
    @include breakpoint(medium down) {
      font-size: map-deep-get($interior, fonts, h1-small-size);
    }
  }

  h2 {
    font: map-deep-get($interior, fonts, h2);
    color: map-deep-get($interior, colors, h2);
    @include uppercase(map-deep-get($interior, uppercase, h2));
    margin: 0;
  }

  h3 {
    font: map-deep-get($interior, fonts, h3);
    color: map-deep-get($interior, colors, h3);
    @include uppercase(map-deep-get($interior, uppercase, h3));
    margin: 0;
  }

  h4 {
    font: map-deep-get($interior, fonts, h4);
    color: map-deep-get($interior, colors, h4);
    @include uppercase(map-deep-get($interior, uppercase, h4));
    margin: 0;
  }

  h5 {
    font: map-deep-get($interior, fonts, h5);
    color: map-deep-get($interior, colors, h5);
    @include uppercase(map-deep-get($interior, uppercase, h5));
    margin: 0;
  }

  h6 {
    font: map-deep-get($interior, fonts, h6);
    color: map-deep-get($interior, colors, h6);
    @include uppercase(map-deep-get($interior, uppercase, h6));
    margin: 0;
  }

  p {
    font: map-deep-get($interior, fonts, p);
    color: map-deep-get($interior, colors, p);
    @include uppercase(map-deep-get($interior, uppercase, p));
    margin-bottom: rem-calc(20);
  }

  blockquote {
    padding: rem-calc(35);
    background-color: map-deep-get($interior, colors, blockquote-bg);
    p {
      font: map-deep-get($interior, fonts, blockquote);
      color: map-deep-get($interior, colors, blockquote-text);
      margin: 0;
    }
  }

  .medium-8 {
    .accordion li, .gform_body li, .social_sharing li {
      padding-left: 0;
      text-indent: 0;
      &:before {
        display: none;
        content: '';
      }
    }
    ul:not(.gform_fields) {
      list-style: none;
      padding:0;
      margin:0;
      li:before {
	      content: "•";
	      margin-right: 7px;
	      color: map-deep-get($interior, colors, list-bullet);
	      font-size: rem-calc(24);
	      line-height: 1;
	      vertical-align: middle;
	    }
    }

    li {
      padding-left: 20px;
      font: map-deep-get($interior, fonts, p);
      text-indent: -17px;
      margin-bottom: 0;
    }
    
    ol li {
	    text-indent: 0;
	    padding-left: 10px;
    }    
  }
}

// Sidebar Menu Styles
.menu-widget {
  margin-bottom: rem-calc(10);
  h3, a.parent {
    display: block;
    font: map-deep-get($interior, fonts, menu-header);
    color: map-deep-get($interior, colors, menu-header);
    @include uppercase(map-deep-get($interior, uppercase, menu-header));
    margin-bottom: rem-calc(10);
  }
  ul {
    margin: 0;
    list-style: none;

    li {
      padding: rem-calc(5);
      border-top: rem-calc(1) solid map-deep-get($interior, colors, menu-border);
      a {
        text-transform: uppercase;
        font: map-deep-get($interior, fonts, menu-links);
        color: map-deep-get($interior, colors, menu-links);
        @include uppercase(map-deep-get($interior, uppercase, menu-links));
        &:hover {
          text-decoration: none;
          color: map-deep-get($interior, colors, menu-links-hover);
        }
      }

      &:last-child {
        border-bottom: rem-calc(1) solid map-deep-get($interior, colors, menu-border);
      }
    }
  }
}

.call-to-action {
  background-color: map-deep-get($interior, colors, cta-bg);
  padding: rem-calc(50);
  margin-top: rem-calc(50);
  text-align: center;
  p {
    font: map-deep-get($interior, fonts, cta-text);
    color: map-deep-get($interior, colors, cta-text);
  }
  h4 {
    margin: rem-calc(20 0);
    font: map-deep-get($interior, fonts, cta-heading);
    color: map-deep-get($interior, colors, cta-heading);
    @include uppercase(map-deep-get($interior, uppercase, cta-heading));
  }
  .button {
    margin-bottom: 0;
    margin-top: rem-calc(20);
    color: map-deep-get($interior, colors, cta-button-text);
    font: map-deep-get($interior, fonts, cta-button-text);
    background-color: map-deep-get($interior, colors, cta-button-bg);
    @include uppercase(map-deep-get($interior, uppercase, cta-button-text));
    &:hover {
      text-decoration: none;
      color: map-deep-get($interior, colors, cta-button-text-hover);
      background-color: map-deep-get($interior, colors, cta-button-bg-hover);
    }
  }
}
