footer {
	
	h3 { 
		color: $primary-color;
		font-family: $font-script; 
		font-size: 36px;
		margin-bottom: 15px !important;
		
		&:before {
						
			content: "p";
			text-indent: -9999px;
			border-top: 1px solid $primary-color;
			width: 80px;
			margin: 0 auto;
			display: block;
			height: 4px;
			
		}
		&:after {
			
			content: "p";
			text-indent: -9999px;
			border-bottom: 1px solid $primary-color;
			width: 80px;
			margin: 0 auto;
			display: block;
			height: 7px;
			
		}
		
	}
	
	.button {
		
		margin-top: 25px;
		
	}
	
	.no-form {
		
		#gform_wrapper_1 {
			
			display: none;
			
		}
		
	}
	
	.contact-form  {
		
		h3, h4{
			text-transform:none;
			font-family:$font-script;
		}
		
		.gform_footer input[type="submit"] {
			
			background: none !important;
			border: 1px solid $primary-color;
			
			&:hover { 
				
				background: $primary-color !important;
				
			}
			
			
		}
	
		a { 
			
			font-family: $font-family-b;
			
		}
	
	}
	
	.footer-tier-2 {
		
		background: url(../img/footer.jpg) no-repeat center center;
		background-size: cover;
		
		.credits a {
			
			font-family: $font-family-b;
			text-decoration: underline;
			
		}
		
		.social ul li { 
			
			border: 1px solid $primary-color;
			
			&:before {
				color: $primary-color;
				
			}
			
			&:hover {
				
				border-color: $theme-white;
				
				&:before {
					color: $theme-white;
				}
				
			}
			
		}
		
		
	}
	
	
}
