.medium-8 {
	
	.gform_body {
		
		.ginput_complex span label {
			display: block;
		}
		.gfield_label {
			display: block;
		}
		.ginput_container {
			height: auto;
		}	
		.name_first, .name_last {
			width: 49%;
			margin-right: 0;
		}	
		.name_last {
			float: right;
		}	
		.gform_fields {
			@extend .medium-12;
		}	
	}
	
	.gform_footer {		
		input[type="submit"] {
			margin-top: rem-calc(20);
			padding: rem-calc(17 20);
			font: map-deep-get($forms, footer, fonts, button-text);
			color: map-deep-get($forms, footer, colors, button-text);
			background-color: map-deep-get($forms, footer, colors, button-bg);
			@include uppercase(map-deep-get($forms, footer, uppercase, button-text));
			&:hover {
			  color: map-deep-get($forms, footer, colors, button-text-hover);
			  background-color: map-deep-get($forms, footer, colors, button-bg-hover);
			}
		}
	}
		
}


