header {
	
	background-size: cover;
	
	.header-message-row {
		
		margin-top: 8px;

	}
	
	#main_menu > li ul {
		
		top: 57px;
		
	}
	
	&.is-stuck{
		@include breakpoint(medium down){
			.header-icon-container .fa-phone, .header-icon-container .fa-bars{
				top: rem-calc(24);
			}
		}
	}
	#logo img{
		width:100%;
	}	
}
