
.sticky-container {
	z-index: 10000;
}
.content-container, .home {
	
	strong {
		
		font-family: $font-family-b;
		
	}

	.button {
		
		background: none;
		border: 1px solid $primary-color;
		color: $primary-color;
		text-transform: uppercase; 
		font-family: $font-family-b;
		
		&:hover { 
			
			background: $primary-color;
			color: $theme-white;
			
		}
		
		
	}
	
	.wp-caption-text {
		
		font-family: $font-family-b;		
		
	}
	
	.medium-8 .accordion li {
		
		border: 1px solid $primary-color;
		margin-bottom: 15px;
	
		a.accordion-title { 
			
			border: none;
			text-align: left;
			margin-bottom: 0;
			text-decoration: none;
			
		}
		
		.accordion-content:last-child{
			border: none !important;
		}
		
	}
	
	.medium-8 {
			
		a { 
			
			font-family: $font-family-b;
			text-decoration: underline;
			
		}
		ol { 
			margin-left: 0;
			padding-right: 0;
			list-style-type: none;
			li { 				
				color: $secondary-color;
				counter-increment: step-counter;
				padding-left: 25px;
				p, h3 {
					display: inline-block;
				}
				&:before {		        
			        content: counter(step-counter)". ";
				    margin-right: 8px;
				    color: $primary-color;
			        font-size: 16px;
			        font-family: $font-family-b;	
			        margin-left: -28px;        
			    }
			}	
		}
		
		ul:not(.gform_fields){
			
			margin-bottom: 15px;
			
			li {
				
				color: $secondary-color;
				
				&:before {
					
					vertical-align: top;
					
				}
				
			}
			
		}

		
	}
	
	.medium-4 {
		
		.widget {
			
			margin-bottom: 25px;
			
			&.form {
				
				h3 {
					
					font: $font-family;
					font-size: 24px;
					color: #69b947;
					margin-bottom: 0.625rem;
					
				}
				
			}
			
			.call-to-action {
				
				border: 1px solid $primary-color;
				padding: 30px;
				
				h4 { 
					
					margin: 15px 0 10px;
					
				}
				
				p {
					
					margin: 0;
					
				}
				
			}
			
		}
		
	}
	
	blockquote { 
		
		border-left: 8px solid $primary-color;
		border-top: 1px solid $primary-color;
		border-right: 1px solid $primary-color;
		border-bottom: 1px solid $primary-color;
		
	}

}

.content-container > .row {
	
	padding: 0;
	
}

.banner.no-bg {
	
	background-size: cover;
	
	.page-title { 
				
		&:before {
								
			content: "p";
			text-indent: -9999px;
			border-top: 1px solid $primary-color;
			width: 150px;
			margin: 0 auto;
			display: block;
			height: 6px;
			
		}
		&:after {
			
			content: "p";
			text-indent: -9999px;
			border-bottom: 1px solid $primary-color;
			width: 150px;
			margin: 0 auto;
			display: block;
			height: 7px;
			
		}
		
	}
	
	.breadcrumbs {
			
		margin-top: 15px !important;
		
	}
	
}

.content-container{
	h1{
		margin-bottom:5px;
	}
}