// General Home Page Styles
.home {
	h3, h4{
		font-family:$font-script;
		text-transform: none !important;
	}


	.open_ended_content {
		
		p {
			color: $secondary-color;
			margin-bottom: 15px;
		}
		
		h3 { 
			color: $primary-color;
			text-transform: uppercase; 
			font-size: 36px;
			margin-bottom: 25px;
			
			&:before {
							
				content: "p";
				text-indent: -9999px;
				border-top: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 4px;
				
			}
			&:after {
				
				content: "p";
				text-indent: -9999px;
				border-bottom: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 7px;
				
			}
			
		}
		
	}
	
	#open_ended_1 { 
		
		.button {
			
			margin: 30px auto 0;			
			
		}		
		
	}
	
	#open_ended_2 {
		
		text-align: center;
		background: url(../img/feed.jpg) no-repeat center center;
		
		h4 { 
			
			color: $primary-color;
			text-transform: uppercase; 
			font-size: 24px;
			font-family: $font-family-b;
			text-align:left;
			
		}
		
		p{
			color:#fff;
			text-align:left;
		}
		
	}
	
	.open-parallax {
		
		background-size: cover;
		background-position: center center;
		
		p {
			color: $secondary-color;
			margin-bottom: 15px;
		}
		
		.button { 
			
			margin-top: 15px;
			
		}
		
		img {
			
			border: 1px solid $primary-color;
			
		}
		
		h3 { 
			color: $primary-color;
			text-transform: uppercase; 
			font-size: 36px;
			margin-bottom: 25px;
			
			&:before {
							
				content: "p";
				text-indent: -9999px;
				border-top: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 4px;
				
			}
			&:after {
				
				content: "p";
				text-indent: -9999px;
				border-bottom: 1px solid $primary-color;
				width: 80px;
				margin: 0 auto;
				display: block;
				height: 7px;
				
			}
			
		}
		
	}
	
}

// Module-Specific Styles
@import "front-page/blog";
@import "front-page/hero";
@import "front-page/service-icons";
@import "front-page/testimonials";
