.page-template-page-product{
	.banner .wrap{
		width:75%;
	}
	.banner .wrap .page-title{
		color:#fff;
		font-size:rem-calc(52);
		text-shadow: 1px 1px 3px rgba(0,0,0,1);
		font-family:$font-family-b;
		&:before{
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
			height:0;
			margin: 0 auto 6px;
			content: "p";
			text-indent: -9999px;
			border-top: 1px solid $theme-white;
			width: 170px;
			display: block;
		}
		&:after{
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
			height:0;
			margin: 7px auto 0;
			content: "p";
			text-indent: -9999px;
			border-top: 1px solid $theme-white;
			width: 170px;
			display: block;
		}
	}
}

#product-tabs{
	height:auto;
	border:0;
	font-size:0px;
	li.tabs-title{
		margin:0 !important;
		bottom:0;
		border-radius:0;
		width:33.33333%;
		text-align:center;
		padding:0;
		border-color:$primary-color;
		text-indent:0;
		border-bottom: 1px solid $secondary-color;
		float:none;
		display:inline-block;
		a{
			padding:10px;
			height:auto;
			text-decoration: none;
			background:#fff;
			&:hover{border:0;}
		}
		&:before{
			content:'';
			margin:0;
		}
	}
	li.is-active{
		border-color:$secondary-color;
		a{
			color:$secondary-color;
		}
	}
}

#product-tab-content{
	border-color:$secondary-color;
	li{
		padding-left:15px;
		text-indent:0;
		&:before{
			content:'';
			margin:0;
			display:none;
		}
	}
	.tabs-panel{
		padding:0;
	}
	#image-display{
		padding:15px;
		max-height:75vh;
		height: 480px;
		text-align:center;
		img{
			margin-top:15px;
			width:100%;
			max-height:398px;
		}
	}
	#gallery-list{
		padding: 0 8px;
	}
	.gallery-item{
		padding-left:7px;
		padding-right:7px;
		font-size:0;
		img{
			border:1px solid $primary-color;
		}
	}
	#specification{
		table{
			margin-bottom:0;
		}
		tr{
			background:#fff;
			border-bottom: 1px solid $secondary-color;
			&:last-of-type{
				border-bottom:0;
			}
		}
		td{
			color:$secondary-color;
			padding:15px;
			&:first-child{
				border-right:1px solid $secondary-color;
			}
		}
	}
	#price-calculator{
		#calculator{
			padding:30px 50px;
			@include breakpoint(medium down){
				padding:30px;
			}
			@include breakpoint(small down){
				padding:15px;
			}
			div{
				color:$primary-color;
				font-family:$font-family-b;
				margin-top:30px;
				width:28%;
				display:inline-block;
				text-align:center;
				@include breakpoint(small down){
					margin-top:15px;
					width:25%;
				}
				&.icon{
					width:7%;
				}
			}
			.calc-label{
				span{
					text-transform: uppercase;
				}
			}
			.total{
				font-size:24px;
				@include breakpoint(small){
					width:25%;
				}
				@include breakpoint(small down){
					font-size:20px;
				}
			}
			select, input{
				font-family:$font-family;
				border-color:$secondary-color;
				font-size:14px;
				color:$secondary-color;
				display:inline-block;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $secondary-color;
				  opacity:1;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $secondary-color;
				  opacity:1;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $secondary-color;
				  opacity:1;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $secondary-color;
				  opacity:1;
				}
			}		
		}
	}
}