@import 'util/util';

$theme-black: #000000;
$theme-white: #ffffff;
$theme-grey-light: #bdc3c7;
$theme-grey-dark: #7f8c8d;

$base-color: $theme-white;
$primary-color: #69b947;
$secondary-color: #4a7a7f;

// Font weights
$light: normal;
$regular: normal;
$bold: normal;
$heavy: normal;

// Font-Awesome Font Path
$fa-font-path: "../bower_components/font-awesome/fonts";

// Base Font
$font-family: 'Optima LT W01 Roman';  // Used for most text on the site
$font-family-i: 'Optima LT W01 Italic';
$font-family-b: 'Optima LT W01 Bold';
$font-family-bi: 'Optima LT W01 Bold Italic';
$font-script: 'Dancing Script', cursive;
$font-nav: 'AvenirNextLTW01-BoldCn';
$font-nav-dropdown: 'Avenir Next Cyr W00 Regular';

// Form Styles
$form-text-height: rem-calc(40);
$form-spacing: rem-calc(20);

// Header Variables
$header: (
  background: url(../img/header.jpg) no-repeat,
  height: rem-calc(115),
  minimized-height: rem-calc(75),
  padding: rem-calc(15),
  icons: (
    size: rem-calc(35),
    distance-top: rem-calc(40),
    distance-side: rem-calc(30)
  ),
  social:(
	social-bg: $secondary-color,
	social-bg-hover: $theme-white,
	social-icon: $primary-color,
	social-icon-hover: $primary-color
  ),
  message: (
    height: rem-calc(35),
    font: normal normal $bold rem-calc(24) $font-family-b,
    color: $primary-color,
    color-hover: $theme-white
  ),
  menu: (
    height: rem-calc(50),
    offset: rem-calc(-5),
    colors: (
      text: $theme-white,
      text-hover: $primary-color,
      submenu-text : $secondary-color,
      submenu-text-hover: $theme-white,
      submenu-bg: $theme-white,
      submenu-bg-hover: $primary-color,
      border-top: $primary-color,
      border-between: $secondary-color
    ),
    fonts: (
      text: normal normal $bold rem-calc(15) $font-nav,
      submenu-text: normal normal $bold rem-calc(15) $font-nav-dropdown
    ),
    uppercase: (
      text: true,
      submenu-text: false
    )
  )
);

// Front Page Variables
$front-page: (
  section-padding: rem-calc(60),
  button-font: normal normal $bold rem-calc(18) $font-family,
  hero: (
    colors: (
      bg: none,
      subhead: $theme-white,
      heading: $theme-white,
      button-text: $theme-black,
      button-text-hover: $theme-white,
      button-bg: $theme-white,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      subhead: normal normal $bold rem-calc(36) $font-family-b,
      heading: normal normal $bold rem-calc(52) $font-script,
      subhead-size-small: rem-calc(20),
      heading-size-small: rem-calc(40)
    ),
    uppercase: (
      subhead: false,
      heading: true
    )
  ),
  services: (
    background: #f2f9f8,
    colors: (
      header: $theme-black,
      service-header: $primary-color,
      service-header-hover: $secondary-color,
      service-content: $secondary-color,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark
    ),
    fonts: (
      header: normal normal $light rem-calc(50) $font-family,
      service-header: normal normal $regular rem-calc(24) $font-family-b,
      service-content: normal normal $regular rem-calc(16) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family
    ),
    uppercase: (
      header: true,
      service-header: true,
      button-text: true
    )
  ),
  blog: (
    background: url(../img/feed.jpg) no-repeat,
    colors: (
      heading: $primary-color,
      subhead: $theme-white,
      article-title: $primary-color,
      article-title-hover: $secondary-color,
      date: $secondary-color,
      excerpt: $secondary-color,
      button-text: $primary-color,
      button-text-hover: $theme-white,
      button-bg: none,
      button-bg-hover: $primary-color
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      article-title: normal normal $bold rem-calc(18) $font-family-b,
      date: normal normal $regular rem-calc(14) $font-family,
      excerpt: normal normal $regular rem-calc(16) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: false,
      article-title: false,
      date: false
    )
  ),
  coupons: (
    background: $secondary-color,
    colors: (
      heading: $primary-color,
      subhead: $theme-white,
      coupon-head: $secondary-color,
      coupon-subhead: $theme-white,
      coupon-border: $theme-white,
      coupon-bg: $theme-black,
      info: $theme-white            
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family, 
      coupon-head: normal normal $bold rem-calc(26) $font-family,
      coupon-subhead: normal normal $bold rem-calc(14) $font-family,
      info: normal normal $bold rem-calc(15) $font-family      
    ),
    uppercase: (
      heading: true,
      subhead: false,       
      coupon-head: true,
      coupon-subhead: true
    )
  ),
  testimonials: (
    background: none,
    colors: (
      heading: $theme-black,
      subhead: $theme-black,
      testimonial-text: $theme-black,
      testimonial-name: $theme-grey-dark,
      testimonial-location: $theme-grey-dark,
      button-text: $theme-white,
      button-text-hover: $theme-white,
      button-bg: $theme-black,
      button-bg-hover: $theme-grey-dark,
      orbit-bg: $secondary-color,      
      orbit-active: $theme-white
    ),
    fonts: (
      heading: normal normal $bold rem-calc(40) $font-family,
      subhead: normal normal $bold rem-calc(26) $font-family,
      testimonial-text: normal normal $regular rem-calc(20) $font-family,
      testimonial-name: normal normal $bold rem-calc(20) $font-family,
      estimonial-location: normal normal $bold rem-calc(20) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family
    ),
    uppercase: (
      heading: true,
      subhead: false,
      testimonial-name: true,
      testimonial-location: true,
      button-text: true
    )
  )
);
// Interior Page Variables
$interior: (
  colors: (
    page-title: $primary-color,
    breadcrumbs: $secondary-color,
    breadcrumbs-last: $secondary-color,
    toggle-bg: $theme-white,
    toggle-bg-open: $theme-white,
    toggle-header: $primary-color,
    toggle-header-open: $secondary-color,
    toggle-content: $secondary-color,
    toggle-border: $primary-color,
    h1: $primary-color,
    h2: $primary-color,
    h3: $secondary-color,
    h4: $primary-color,
    h5: $secondary-color,
    h6: $primary-color,
    p: $secondary-color,
    list-bullet: $primary-color,
    link: $primary-color,
    link-hover: $secondary-color,
    blockquote-bg: $theme-white,
    blockquote-text: $secondary-color,
    blockquote-border: $primary-color,
    menu-header: $primary-color,
    menu-links: $secondary-color,
    menu-links-hover: $primary-color,
    menu-border: $secondary-color,
    cta-heading: $primary-color,
    cta-bg: $theme-white,
    cta-text: $secondary-color,
    cta-button-text: $primary-color,
    cta-button-text-hover: $theme-white,
    cta-button-bg: $theme-white,
    cta-button-bg-hover: $primary-color
  ),
  fonts: (
    page-title: normal normal $bold rem-calc(28) $font-family,
    page-title-small-size: rem-calc(30),
    breadcrumbs: normal normal $regular rem-calc(12) $font-family-b,
    toggle-header: normal normal $bold rem-calc(18) $font-family-b,
    toggle-content: normal normal $regular rem-calc(16) $font-family,
    h1: normal normal $bold rem-calc(45) $font-script,
    h1-small-size: rem-calc(30),
    h2: normal normal $bold rem-calc(36) $font-script,
    h3: normal normal $bold rem-calc(24) $font-family,
    h4: normal normal $bold rem-calc(24) $font-family-b,
    h5: normal normal $bold rem-calc(18) $font-family-b,
    h6: normal normal $bold rem-calc(16) $font-family-b,
    p: normal normal $regular rem-calc(16) $font-family,
    blockquote: normal normal $regular rem-calc(20) $font-family-i,
    menu-header: normal normal $bold rem-calc(24) $font-family,
    menu-links: normal normal $bold rem-calc(14) $font-family,
    cta-heading: normal normal $bold rem-calc(18) $font-family-b,
    cta-text: normal normal $regular rem-calc(16) $font-family,
    cta-button-text: normal normal $bold rem-calc(16) $font-family-b
  ),
  uppercase: (
    page-title: true,
    breadcrumbs: true,
    h1: false,
    h2: false,
    h3: false,
    h4: true,
    h5: false,
    h6: true,
    post-info: true,
    menu-header: false,
    menu-links: true,
    cta-heading: false,
    cta-button-text: true
  ),

  coupons: (
    colors: (
      background: #f6fbf5,
      border: $theme-grey-dark,
      divider: $theme-black
    )
  ),

  page: (
    header-bg: url(../img/banner.jpg) no-repeat center center,
    header-title-bg: none
  ),


  single: (
    colors: (
      post-info: $theme-grey-light
    ),
    fonts: (
      post-info: normal normal $bold rem-calc(16) $font-family
    )
  )
);
// Form Variables
$forms: (
  footer: (
    colors: (
      heading: $primary-color,
      subhead: $secondary-color,
      contact-head: $primary-color,
      contact-text: $secondary-color,
      textboxes: $secondary-color,
      button-text: $primary-color,
      button-text-hover: $theme-white,
      button-bg: none,
      button-bg-hover: $primary-color,
      link-text: $primary-color,
      link-text-hover: $secondary-color
    ),
    fonts: (
      heading: normal normal $bold rem-calc(36) $font-family,
      subhead: normal normal $bold rem-calc(24) $font-family,
      contact-head: normal normal $bold rem-calc(16) $font-family-b,
      contact-text: normal normal $regular rem-calc(16) $font-family,
      textboxes: normal normal $regular rem-calc(14) $font-family,
      button-text: normal normal $bold rem-calc(18) $font-family-b,
    ),
    uppercase: (
      heading: true,
      subhead:false,
      contact-head: true,
      contact-text: false,
      textboxes: false,
      button-text: true
    )
  )
);

// Footer Variables
$footer: (
  menu-height: rem-calc(50),
  colors: (
    bg: none,
    menu: $theme-white,
    menu-hover: $primary-color,
    credits: $theme-white,
    credits-link: $primary-color,
    credits-link-hover: $theme-white,
    social-bg: none,
    social-bg-hover: none,
    social-icon: $primary-color,
    social-icon-hover: $theme-white
  ),
  fonts: (
    menu: normal normal $bold rem-calc(15) $font-family,
    credits: normal normal $regular rem-calc(15) $font-family
  ),
  uppercase: (
    menu: true
  )
);
